/* font-family: 'Noto Sans JP', sans-serif;
font-family: 'Style Script', cursive; */

html body {
  font-family: 'Noto Sans JP', sans-serif;
}

#welcomeHeader {
  font-family: 'Style Script', cursive;
  font-size: 6rem;
}

.topLevelParentContainer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

.overallComponentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.container form {
  width: 50%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.container form input.form-control {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div.container form select.form-select {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.inlineFormRow {
  align-items: center;
  text-align: left;
}

div.inlineFormRow.row {
  margin-right: 0rem;
  margin-left: 0rem;
}

.inlineFormRow div.col {
  padding: 0px;
}

.inlineFormRow div.col-md-auto {
  padding-left: 0rem;
}

.inlineFormRow input#spirit_color.form-control.form-control-color {
  min-width: 100%;
}

h1.row {
  margin-bottom: 2rem;
  font-size: 3rem;
}

button.btn.btn-primary {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: slategray;
  border-color: slategrey;
}

div.container form input.submitInput.form-control {
  width: 6rem;
  margin-left: auto;
  margin-right: auto;
}

#ProfileComponent div.row div.col{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ProfileComponent div.row {
  width: 100%;
}

#ProfileComponent img {
  height: 100%;
  margin: 2rem;
}

#ProfileComponent {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#ClosetPreview div.row {
  margin-bottom: 2rem;
  /* justify-content: cente÷; */
  margin-left: auto;
  margin-right: auto;
}

#ClothingComponent {
  margin: 0.5rem;
  max-width: 23%;
  padding: 0px;
}

#ClothingComponent.card img.card-img {
  object-fit: contain;
  /* max-height: 20rem; */
}

#ClothingComponent div.card-body{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
}

#ClothingComponent div.card-footer {
  padding: 0rem;
  background-color: white;
  border: none;
}

div.userCard.card {
  margin: 0.5rem;
  max-width: 23%;
  padding: 0px;
}

div.userCard.card img.card-img {
  object-fit: contain;
}

div.userCard.card div.card-body{
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-end;
  height: 2rem;
}

div.swapList.container {
  max-height: 50vh;
  overflow: auto;
}

.overallComponentContainer div.row {
  width: 100%;
}

div.container .sectionTitle.row {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#SwapListContainer h3.row {
  justify-content: center;
}

div.swapList.container div.container {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

div#SwapListContainer h6.row {
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#ClothingDetails div.row div.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#ClothingDetails div.row div.col .row {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

#ClothingDetails .list-group-item {
  text-align: left;
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}